ul(class="pagination")
    li
        if pagination.prev
            a(href=pagination.pages[pagination.current - 2].href) Previous
        else if pagination.pages.length
            span Previous
    each page, index in pagination.pages
        li
            a(href=pagination.pages[index].href class=pagination.pages[index].class)= index + 1
    li
        if pagination.next
            a(href=pagination.pages[pagination.current].href) Next
        else if pagination.pages.length
            span Next
