form(action="/books" method="GET")
    span
        input(name="search" type="text" id="search" class="no-margin" value=search)
    span= " "
    span
        input(type="submit" class="no-margin" value="Search")
